<header class="site-header" role="banner">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    
    <div class="container-fluid justify-content-lg-center">

      <div class="navbar-brand col-md-2">
        <a class=" d-flex justify-content-md-end" href="{{ "/" | relative_url }}">
          <img 
          src="{{"/assets/images/logos/logo.jpeg" | relative_url }}" 
          alt="LOGO"
          style="height:60px;"
          class="overlay"
          >
        </a>
      </div>

      <div class="collapse col-md-7 navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav my-2 m-lg-0 col d-flex justify-content-md-between justify-content-lg-center">

          {% assign site_path = page.title | downcase %}

          {%- for link in site.data.nav -%}

            {%- if link == site_path -%}
              {% assign link_classes = "active-nav" %}
            {%-else-%}   
              {% assign link_classes = "" %}
            {%-endif-%}   

            <li class="nav-item px-3">
              <a 
              class="nav-link {{link_classes}}" 
              href=" {{ link | relative_url }}">
                {{ link | escape }}
              </a>
            </li>

          {%- endfor -%}

        </ul>
      </div>

      <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
      
      <div class="col-md-2 d-none d-lg-block"></div>

    </div>


  </nav>

</header>