.bg-red {
	background-color: #ff7c7c;
}
.bg-blue {
	background-color: #7c7cff;
}

.bg-yellow {
	background-color: #ffff7c;
}

.color-facebook {
	color: #1877f2;
}

.color-youtube {
	color: #ff0000;
}

.color-instagram {
	color: #e4405f;
}

.color-mail {
	color: #005ff9;
}

.color-phone {
	color: #25d366;
}
