.overlay {
	transition-duration: 1s;
	&:hover {
		opacity: 0.4;
		cursor: pointer; // For MacOS where cursor becomes selection over text
	}
}

a.nav-link {
	color: black;
	&:hover {
		text-decoration: none;
	}
}

a.active-nav,
a.active-nav:hover,
.underline {
	text-decoration: underline;
	text-underline-offset: 5px;
}

#home-carousel .carousel-item img {
	height: 47vw;
}

@media (max-width: 767.98px) {
	.navbar-brand {
		margin-left: 1rem;
	}
}

.bg-red {
	background-color: #ff7c7c;
}
.bg-blue {
	background-color: #7c7cff;
}
