.overlay {
	transition-duration: 1s;
	&:hover {
		opacity: 0.4;
	}
}
.active-nav,
.active-nav:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

#home-carousel .carousel-item img {
	height: 47vw;
}
