.overlay {
	transition-duration: 1s;
	&:hover {
		opacity: 0.4;
	}
}

a.nav-link {
	color: black;
	&:hover {
		text-decoration: none;
	}
}
a.active-nav,
a.active-nav:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

#home-carousel .carousel-item img {
	height: 47vw;
}
