.site-header {
	border-top: none;
}

a.nav-link {
	text-transform: uppercase;
	display: inline-block;
}

.page-content {
	padding-top: 0px;
	padding-bottom: 0px;
}

ul.navbar-nav {
	margin-left: 1em;
}
