<div id="fb-root"></div>
<script async crossorigin="anonymous" defer nonce="IZbIJZGt" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0"></script>

<div class="bg-light py-5" id="fb-embeds">

    <div class="container-fluid container-md text-center">

        <h2 class="display-6 mb-3">Keep Up With Our Recent Activities!</h2>
        <div class="mb-4">
            <a href="https://www.facebook.com/PowerKidsChildcare" rel="noopener noreferrer" target="_blank"><i class="bi-facebook display-3 mx-4 color-facebook"></i></a>
            <a href="https://www.instagram.com/powerkids_2001/" rel="noopener noreferrer" target="_blank"><i class="bi-instagram display-3 mx-4 color-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCOjK8A2hTRbh1jg3hPE7uCw" rel="noopener noreferrer" target="_blank"><i class="bi-youtube display-3 mx-4 color-youtube"></i></a>

        </div>


        <div class="row mx-auto g-2">

            <div class="col">
                <div class="fb-post" data-href="https://www.facebook.com/powerkidspage/posts/pfbid032UHzKyDoZXNByyccSxFDdwyQr1LmkunNwvhiuU63c9YHTUdcK2iaMNjJmKoXofLTl" data-show-text="true" data-width="500">
                    <blockquote cite="https://www.facebook.com/powerkidspage/posts/825213168468622" class="fb-xfbml-parse-ignore">Posted by
                        <a href="#" role="button">PowerKids Preschool</a>
                        on&nbsp;<a href="https://www.facebook.com/powerkidspage/posts/825213168468622">Sunday, July 10, 2022</a>
                    </blockquote>
                </div>
            </div>

            <div class="col">
                <div class="fb-post" data-href="https://www.facebook.com/powerkidspage/posts/pfbid0hhUEfq42z5KAysfeYFXayvdSsjss6yLY6D8VSV8wZkyVxEV4vDnKgfQTVgCYKBCrl" data-show-text="true" data-width="500">
                    <blockquote cite="https://www.facebook.com/powerkidspage/posts/823236645332941" class="fb-xfbml-parse-ignore">
                        <p>PowerKids &#064; Puchong Utama.  Great outdoor and indoor.</p>Posted by
                        <a href="#" role="button">PowerKids Preschool</a>
                        on&nbsp;<a href="https://www.facebook.com/powerkidspage/posts/823236645332941">Thursday, July 7, 2022</a>
                    </blockquote>
                </div>
            </div>

            <div class="col">
                <div class="fb-post" data-href="https://www.facebook.com/powerkidspage/posts/pfbid0HX6x5NW3nzz6nqAxAkYGbszx2MDWmPXTbHkvYR2HjCT9RypwR66nAaTxoUstgANMl" data-show-text="true" data-width="500">
                    <blockquote cite="https://www.facebook.com/powerkidspage/posts/693797131610227" class="fb-xfbml-parse-ignore">
                        <p>It’s still very meaningful.</p>Posted by
                        <a href="#" role="button">PowerKids Preschool</a>
                        on&nbsp;<a href="https://www.facebook.com/powerkidspage/posts/693797131610227">Saturday, December 11, 2021</a>
                    </blockquote>
                </div>
            </div>

        </div>
    </div>


</div>
