<div id="fb-root"></div>
<script
  async
  crossorigin="anonymous"
  defer
  nonce="IZbIJZGt"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0"
></script>

<div class="bg-light py-5" id="fb-embeds">
  <div class="container-fluid container-md text-center">
    <h2 class="display-6 mb-3">Keep Up With Our Recent Activities!</h2>

    <div class="mb-5">
      <a
        href="https://www.facebook.com/PowerKidsChildcare"
        rel="noopener noreferrer"
        target="_blank"
        ><i class="bi-facebook display-3 mx-4 color-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/powerkids_2001/"
        rel="noopener noreferrer"
        target="_blank"
        ><i class="bi-instagram display-3 mx-4 color-instagram"></i
      ></a>
      <a
        href="https://www.youtube.com/channel/UCOjK8A2hTRbh1jg3hPE7uCw"
        rel="noopener noreferrer"
        target="_blank"
        ><i class="bi-youtube display-3 mx-4 color-youtube"></i
      ></a>
    </div>

    <div class="row row-cols-auto mx-auto gx-0 gy-5">
      <div class="col">
        <div
          class="fb-post"
          data-href="https://www.facebook.com/PowerKidsChildcare/posts/pfbid029LcSAcDaKvbLVtPRHtBZowHXBvksQaVBszx6kFbYicbazGR6iCXiFPkwLdnBYJoUl"
          data-width="500"
          data-show-text="true"
        >
          <blockquote
            cite="https://www.facebook.com/PowerKidsChildcare/posts/551293400332788"
            class="fb-xfbml-parse-ignore"
          >
            <p>Artists at work</p>
            Posted by
            <a href="https://www.facebook.com/PowerKidsChildcare">PowerKids</a>
            on&nbsp;<a
              href="https://www.facebook.com/PowerKidsChildcare/posts/551293400332788"
              >Sunday, October 9, 2022</a
            >
          </blockquote>
        </div>
      </div>

      <div class="col">
        <div
          class="fb-video"
          data-href="https://www.facebook.com/PowerKidsChildcare/videos/501480808069543/"
          data-width="500"
          data-show-text="false"
        >
          <blockquote
            cite="https://www.facebook.com/PowerKidsChildcare/videos/501480808069543/"
            class="fb-xfbml-parse-ignore"
          >
            <a
              href="https://www.facebook.com/PowerKidsChildcare/videos/501480808069543/"
            ></a>
            <p></p>
            Posted by
            <a href="https://www.facebook.com/PowerKidsChildcare">PowerKids</a>
            on Wednesday, September 21, 2022
          </blockquote>
        </div>
      </div>

      <div class="col">
        <div
          class="fb-post"
          data-href="https://www.facebook.com/PowerKidsChildcare/posts/pfbid0nP6xz9f5QtGbu9uGesJsHJLLC2vRUgW3Hn1EXCBb8W5o3CqyzrTkVsgcKQT1dTQ1l"
          data-width="500"
          data-show-text="true"
        >
          <blockquote
            cite="https://www.facebook.com/PowerKidsChildcare/posts/520944670034328"
            class="fb-xfbml-parse-ignore"
          >
            Posted by
            <a href="https://www.facebook.com/PowerKidsChildcare">PowerKids</a>
            on&nbsp;<a
              href="https://www.facebook.com/PowerKidsChildcare/posts/520944670034328"
              >Friday, September 9, 2022</a
            >
          </blockquote>
        </div>
      </div>

      <div class="col d-xxl-none">
        <div
          class="fb-post"
          data-href="https://www.facebook.com/PowerKidsChildcare/posts/pfbid0f5UcDXm6b8oiwPeBcHhELS4XK6C3DdD5ERjxx1caNTWPUDLcAC4gmUY1hWRBF6gNl"
          data-width="500"
          data-show-text="true"
        >
          <blockquote
            cite="https://www.facebook.com/PowerKidsChildcare/posts/513740904088038"
            class="fb-xfbml-parse-ignore"
          >
            Posted by
            <a href="https://www.facebook.com/PowerKidsChildcare">PowerKids</a>
            on&nbsp;<a
              href="https://www.facebook.com/PowerKidsChildcare/posts/513740904088038"
              >Wednesday, August 31, 2022</a
            >
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
