<div class="container-md px-3 py-3 col-lg-9 col-xl-7 col-xxl-6" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 py-4 mx-0">
    <div class="col d-flex align-items-start g-4">
      <i class="bi-award text-muted flex-shrink-0 me-3 display-6"></i>
      <div>
        <h4 class="fw-bold mb-0">Fungates Programme</h4>
        <p>Positive reinforcement of 21st century learning.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start g-4">
      <i class="bi-balloon-heart text-muted flex-shrink-0 me-3 display-6"></i>
      <div>
        <h4 class="fw-bold mb-0">Emotional Well-Being</h4>
        <p>Caring beyond academics.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start g-4">
      <i class="bi-mortarboard text-muted flex-shrink-0 me-3 display-6"></i>
      <div>
        <h4 class="fw-bold mb-0">Trained, Qualified Teachers</h4>
        <p>Our teacher's skills are upgraded constantly.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start g-4">
      <i class="bi-binoculars text-muted flex-shrink-0 me-3 display-6"></i>
      <div>
        <h4 class="fw-bold mb-0">Apparatus</h4>
        <p>Equipped with a variety of tools to inspire learning.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start g-4">
      <i
        class="bi-pc-display-horizontal text-muted flex-shrink-0 me-3 display-6"
      ></i>
      <div>
        <h4 class="fw-bold mb-0">Technology</h4>
        <p>Tech is integrated into learning and teaching environment.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start g-4">
      <i class="bi-cloud-sun text-muted flex-shrink-0 me-3 display-6"></i>
      <div>
        <h4 class="fw-bold mb-0">Environment</h4>
        <p>Clean, spacious environment for for cheerful children.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start g-4">
      <i class="bi-house-heart text-muted flex-shrink-0 me-3 display-6"></i>
      <div>
        <h4 class="fw-bold mb-0">Premises</h4>
        <p>
          Child-centric design to encourage socialisation and play learning.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-dark">
  <div class="container-md mx-auto row">
    <div class="col-10 col-sm-8 col-lg-5 col-xl-5 px-0 mx-auto my-3">
      <img src="{{about_dir}}/apple-girl.jpg" class="" alt="..." />
    </div>
    <div class="col-lg-5 d-flex align-items-center flex-column m-auto">
      <div class="text-center text-white">
        <h2 class="display-3 fw-bold my-4">Our Vision</h2>
        <p class="lead fs-3">
          To raise a new generation of 21st-Century Children with
          <span class="underline">heart</span>.
        </p>
        <a href="events/comm">
          <button class="btn btn-primary btn-lg px-4 m-4" type="button">
            Our Community Service →
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="mission-vision-divider"></div>

<!-- <div class="row justify-content-md-center py-5 mx-0">
  <div class="container-md col-xl-10 row align-items-between mx-0"> -->
<div class="py-5">
  <div class="container-md mx-auto row">
    <div class="col-lg-6 d-flex flex-column my-auto">
      <div class="d-flex align-items-start flex-column mb-3 mx-auto">
        <h2 class="display-3 fw-bold my-4 mx-auto mx-md-0">Our Mission</h2>
        <div class="lead fs-3 mx-3 mx-md-0">
          <p>
            <span class="display-4 me-1" style="color: red">A</span>cademic
            Excellence
          </p>
          <p>
            <span class="display-4 me-1" style="color: blue">B</span>uilding
            Character
          </p>
          <p>
            <span class="display-4 me-1" style="color: darkgoldenrod">C</span
            >ultivating Moral & Spiritual Values
          </p>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3 justify-content-center">
      <img
        src="{{about_dir}}/21yrs.jpeg"
        class="d-block mx-auto"
        alt="..."
        style="transform: rotate(10deg); max-height: 400px"
      />
    </div>
  </div>
</div>
