<div class="after-school col">
	<div class="card hover-fade hover-shadow h-100">
		<div class="row g-0 d-flex h-100">

			<div class="col-sm-auto d-flex align-items-center mt-3 mt-sm-0 order-md-last">
				<img src="{{programs_dir}}/after.jpg" class="w-auto mx-auto d-block" alt="...">
			</div>
			<div class="col-sm">
				<div class="card-body">
					<h2 class="card-title">After School</h2>
					<p class="card-text">
						<em>12:30pm to 3:00pm</em>
					</p>
					<p class="card-text">Learning happens beyond academics. We start with lunch, followed by homework coaching with teachers. Then, there are a huge variety of enrichment classes for our children to grow holistically!</p>
					<a class="stretched-link" href="/programs/after"></a>
				</div>
			</div>
		</div>
	</div>
</div>