<div class="daycare col">
	<div class="card hover-fade hover-shadow h-100">
		<div class="row g-0 d-flex h-100">
			<div class="col-sm-auto d-flex align-items-center mt-3 mt-sm-0">
				<img src="{{programs_dir}}/daycare.png" class="w-auto mx-auto d-block" alt="...">
			</div>
			<div class="col-sm">
				<div class="card-body">
					<h2 class="card-title">Daycare</h2>
					<p class="card-text">
						<em>3:00pm to 6:00pm</em>
					</p>
					<p class="card-text">An extension from Morning to After School, until 6:00pm to pick up your child.</p>
					<a class="stretched-link" href="/programs/daycare"></a>
				</div>
			</div>
		</div>
	</div>
</div>