<div class="morning-school col">
	<div class="card hover-fade hover-shadow h-100">
		<div class="row g-0 h-100">
			<div class="col-sm-auto d-flex align-items-center mt-3 mt-sm-0 ">
				<img src="{{programs_dir}}/morning.jpg" class="w-auto mx-auto d-block" alt="...">
			</div>
			<div class="col-sm">
				<div class="card-body">
					<h2 class="card-title">Morning School</h2>
					<p class="card-text">
						<em>8:30am to 12:30pm</em>
					</p>
					<p class="card-text">Early childhood education provided for children from age 2 to age 6.  There will be emphasis on building social emotion to cognitive study from very young age.  PowerKids has a track record of strong academics and good character transformation.</p>
					<a class="stretched-link" href="/programs/morning"></a>
				</div>
			</div>
		</div>
	</div>
</div>